.unitherm {
	background-image: url(../images/clients/unitherm.jpg);
	}

.facial {
	background-image: url(../images/clients/facial_workout.jpg);
	}
	
.kapcsoda {
	background-image: url(../images/clients/kapcsoda.jpg);
	}
	
.purgerdent {
	background-image: url(../images/clients/purgerdent.jpg);
	}

.tongue {
	background-image: url(../images/clients/nyelv.jpg);
	}

.thirty {
	background-image: url(../images/clients/thirty.svg);
	}

.affect {
	background-image: url(../images/clients/affect3d.jpg);
	}

.rare-sheep {
	background-image: url(../images/clients/rare-breeds.svg);
	background-position: right center;
	}
	
.photography {
	background-image: url(../images/photography.jpg);
	}